html {
  --text-color: #454545;
  --background-color: #fff;
  --product-background: #fff;
  --button-primary-color: #fff;
  --header-background: #0a3761;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--background-color);
}
header {
  background-color: var(--header-background);
  color: #fff;
  padding: 1rem 6rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header-text-main {
  font-size: 4rem;
  color: #fff;
  text-decoration: none;
}
.search {
  margin: 0 20px;
  width: 20rem;
}
input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 1.6rem;
}
.header-cart {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}
.header-cart-image {
  display: block;
  height: auto;
  width: 100%;
}
.header-cart-quantity {
  color: #fff;
  background-color: #cf6432;
  padding: 1rem;
  text-decoration: none;
  border-radius: 99rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 0.7rem;
  z-index: 2;
  opacity: 0;
}
.header-cart-quantity.active {
  opacity: 1;
}
.page-container {
  display: flex;
  padding: 2rem 1rem;
}
.page-sidebar {
  width: 20%;
  max-width: 25rem;
  padding: 0 1rem 1rem;
  position: sticky;
  top: 6rem;
  left: 0;
  height: 80vh;
}
.sidebar-header {
  font-size: 2rem;
  font-weight: 400;
  padding: 0.5rem;
  margin-bottom: 2rem;
}
.sidebar-list {
  list-style-type: none;
}
.sidebar-link {
  text-decoration: none;
  position: relative;
  font-size: 1.6rem;
  color: var(--text-color);
  line-height: 2.8rem;
  padding: 0.5rem;
  display: block;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.sidebar-link:hover,
.sidebar-item.active {
  background-color: #ccc;
}
.sidebar-item.active {
  pointer-events: none;
}
.page-subheading {
  font-size: 3.5rem;
  font-weight: 400;
  margin: 3rem 1rem;
}
.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 2rem;
  padding: 0 1rem;
  width: 80%;
  max-width: 100rem;
  margin: 0 auto;
}
.product {
  overflow: hidden;
  background-color: var(--product-background);
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 32rem;
}
.product-header {
  position: relative;
  overflow: hidden;
  padding: 0 1rem;
}
.product-image {
  max-width: 100%;
  height: 16rem;
  display: block;
  margin: 0 auto;
  padding: 0.5rem 0;
}
.product-name {
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  background-color: #fff;
  display: block;
  width: 100%;
  padding: 0.5rem 0;
}

.product-footer {
  padding: 1rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-price {
  font-size: 1.8rem;
  font-weight: 700;
}
.store-logo {
  height: 30px;
  object-fit: cover;
}
.add-to-cart-button-container {
  text-align: center;
  padding: 0.5rem 1rem 1rem;
}
.add-to-cart-button {
  font-size: 1.4rem;
  background-color: var(--button-primary-color);
  color: #454545;
  padding: 0.8rem 1.5rem;
  border: 1px solid #454545;
  cursor: pointer;
  width: 100%;
  transition: background-color 1s ease;
}

.add-to-cart-button:hover {
  background-color: #454545;
  color: #fff;
}

.list-veiw {
  display: none;
}
.single-product-container {
  max-width: 100rem;
  margin: 0 auto;
}
.single-product {
  display: flex;
  align-items: center;
  min-height: 50vh;
}
.single-product-image-container {
  width: 50%;
}
.single-product-image {
  width: 100%;
  display: block;
  padding: 2rem;
  max-width: 40rem;
  margin: 0 auto;
}
.single-product-info {
  width: 50%;
  padding: 2rem;
  max-width: 40rem;
  margin: 0 auto;
}
.single-product-heading,
.product-subheading {
  font-size: 3.3rem;
  font-weight: 400;
  margin-bottom: 3rem;
  padding-bottom: 0.5rem;
}
.single-product-heading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.product-subheading {
  text-align: center;
  margin-top: 3rem;
}
.chart {
  padding: 0 2rem;
  width: 100%;
  margin: 0 auto 3rem;
}
.products-loader-container {
  margin-left: 20%;
}
.cart-container {
  max-width: 100rem;
  width: 90%;
  margin: 3rem auto;
}
.cart-header {
  display: flex;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
}
.cart-header-item {
  width: 20%;
  font-weight: 700;
  font-size: 1.6rem;
}
.cart-header-item-small {
  width: 15%;
}
.cart-header-item-large {
  width: 35%;
}
.cart-header-item:last-child {
  text-align: right;
}
.cart-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 3rem 0;
  position: relative;
  display: flex;
}
.cart-item-image-container {
  width: 20%;
}
.cart-item-image {
  width: 50%;
}
.cart-item-name {
  font-size: 1.6rem;
  font-weight: 400;
  width: 35%;
  padding-right: 1rem;
}
.cart-item-price {
  font-size: 1.6rem;
  width: 15%;
}

.cart-item-quantity-container {
  width: 15%;
  position: relative;
  transform: translateY(-0.7rem);
}
.cart-item-quantity {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 0.7rem;
  width: 100%;
  max-width: 6rem;
}
.cart-item-total {
  width: 15%;
  text-align: right;
}
.delete-cart-item {
  position: absolute;
  bottom: 3rem;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.add-cart-item,
.remove-cart-item {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-color);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-cart-item:hover,
.remove-cart-item:hover {
  background-color: #ccc;
}

.loader {
  display: none;
  width: 4.8rem;
  height: 4.8rem;
  margin: 2rem auto;
  border: 0.5rem solid #e4dede;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.product-loader {
  width: 20rem;
  height: 20rem;
  margin-top: 10rem;
}

.loader.active {
  display: block;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
